<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iber.mapper.token.TokenMapper" >
  <resultMap id="BaseResultMap" type="com.iber.model.token.Token" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.iber.model.token.Token" >
    INSERT INTO x_token (id, token, type, update_time) 
     VALUES (#{id,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, 
     	#{type,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.iber.model.token.Token" >
    INSERT INTO x_token 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateTokenByType" parameterType="java.util.Map">
  	UPDATE x_token SET token = #{token,jdbcType=VARCHAR}, update_time = NOW() 
  		WHERE type = #{type,jdbcType=VARCHAR}
  </update>
  
  <select id="getByType" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT id, token, type, update_time
  		 FROM x_token WHERE type = #{type,jdbcType=VARCHAR}
  </select>
</mapper>